<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-vsms-whatsapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>whatsapp</name>
    <js-module name="whatsapp" src="www/whatsapp.js">
        <clobbers target="cordova.plugins.whatsapp" />
    </js-module>
</plugin>
